:host {
    
    section{
        display: grid;
        // width: 100%;
    }
    .map-container {
        // display: grid;
        // flex-direction: column;
        height: 350px;
        

    }

    .map-frame {
        border: 2px solid black;
        height: 100%;
    }

    #map {
        height: 100%;
        width: 100%;
    }
    //create a button with hover effect
    button {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        margin: 0;
        border: 1px solid #000;
        border-radius: 3px;
        background-color: #000;
        overflow: hidden;
        transition: .5s;
        margin-bottom: 1px;
    }
    button:hover {
        background: #fff;
        color: #000;
    }
}