<section>
  <div class="menu-button-row menu">
    <ul>
      <li>
        <button mat-raised-button routerLink="metar" routerLinkActive="primary">
          Metar
        </button>
      </li>
      <li>
        <button
          mat-raised-button
          routerLink="status"
          routerLinkActive="primary"
        >
          Status
        </button>
      </li>
      <li>
        <button
          mat-raised-button
          routerLink="priv-anac"
          routerLinkActive="primary"
        >
          Aerodromos
        </button>
      </li>
      <li>
        <button mat-raised-button routerLink="geo" routerLinkActive="primary">
          Rotas
        </button>
      </li>

      <li>
        <button mat-raised-button (click)="reloadBR('Brasil')" routerLink="">
          <mat-icon>refresh</mat-icon>Brazil
        </button>
      </li>
      <li>
        <select name="country" id="country" [(ngModel)]="country">
          <option value="ARGENTINA">ARGENTINA</option>
          <option value="BOLIVIA">BOLIVIA</option>
          <option value="URUGUAY">URUGUAY</option>
          <option value="USA">USA</option>
          <option value="VENEZUELA">VENEZUELA</option>
          <option value="ACORES">ACORES</option>
          <option value="AFGHANISTAN">AFGHANISTAN</option>
          <option value="ALBANIA">ALBANIA</option>
          <option value="ALGERIA">ALGERIA</option>
          <option value="ANGOLA">ANGOLA</option>
          <option value="ANGUILLA ISL.">ANGUILLA ISL.</option>
          <option value="ANTARCTICA">ANTARCTICA</option>
          <option value="ANTILLES">ANTILLES</option>
          <option value="ARUBA">ARUBA</option>
          <option value="AUSTRALIA">AUSTRALIA</option>
          <option value="AUSTRIA">AUSTRIA</option>
          <option value="BAHAMAS">BAHAMAS</option>
          <option value="BAHRAIN">BAHRAIN</option>
          <option value="BANGLADESH">BANGLADESH</option>
          <option value="BARBADOS">BARBADOS</option>
          <option value="BELGIUM">BELGIUM</option>
          <option value="BELIZE">BELIZE</option>
          <option value="BENIN">BENIN</option>
          <option value="BHUTAN">BHUTAN</option>

          <option value="BOPHUTHATSWANA">BOPHUTHATSWANA</option>
          <option value="BOSNIA-HERCEGOVINA">BOSNIA-HERCEGOVINA</option>
          <option value="BOTSWANA">BOTSWANA</option>
          <option value="BRASIL">BRASIL</option>
          <option value="BRUNEI">BRUNEI</option>
          <option value="BULGARIA">BULGARIA</option>
          <option value="BURKINA FASO">BURKINA FASO</option>
          <option value="BURUNDI">BURUNDI</option>
          <option value="CAMBODIA">CAMBODIA</option>
          <option value="CAMEROON">CAMEROON</option>
          <option value="CANADA">CANADA</option>
          <option value="CANARY ISLANDS">CANARY ISLANDS</option>
          <option value="CAPE VERDE ISLANDS">CAPE VERDE ISLANDS</option>
          <option value="CAYMAN ISLANDS">CAYMAN ISLANDS</option>
          <option value="CENTRAL AFRICAN REP.">CENTRAL AFRICAN REP.</option>
          <option value="CHAD">CHAD</option>
          <option value="CHILE">CHILE</option>
          <option value="CHINA">CHINA</option>
          <option value="CHRISTMAS ISLAND">CHRISTMAS ISLAND</option>
          <option value="COLOMBIA">COLOMBIA</option>
          <option value="COMOROS ISLANDS">COMOROS ISLANDS</option>
          <option value="CONGO">CONGO</option>
          <option value="COOK ISLANDS">COOK ISLANDS</option>
          <option value="CORSE ISL.">CORSE ISL.</option>
          <option value="COSTA RICA">COSTA RICA</option>
          <option value="CROATIA">CROATIA</option>
          <option value="CUBA">CUBA</option>
          <option value="CYPRUS">CYPRUS</option>
          <option value="CZECH REPUBLIC">CZECH REPUBLIC</option>
          <option value="DENMARK">DENMARK</option>
          <option value="DIEGO GARCIA ISLAND">DIEGO GARCIA ISLAND</option>
          <option value="DOMINICA">DOMINICA</option>
          <option value="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</option>
          <option value="EAST TIMOR">EAST TIMOR</option>
          <option value="ECUADOR">ECUADOR</option>
          <option value="EGYPT">EGYPT</option>
          <option value="EL SALVADOR">EL SALVADOR</option>
          <option value="ENGALND">ENGALND</option>
          <option value="ENGLAND">ENGLAND</option>
          <option value="EQUATORIAL GUINEA">EQUATORIAL GUINEA</option>
          <option value="ESTONIA">ESTONIA</option>
          <option value="ETHIOPIA">ETHIOPIA</option>
          <option value="FALKLAND ISLANDS">FALKLAND ISLANDS</option>
          <option value="FAROE ISL.">FAROE ISL.</option>
          <option value="FIJI">FIJI</option>
          <option value="FINLAND">FINLAND</option>
          <option value="FORMER MACEDONIA">FORMER MACEDONIA</option>
          <option value="FRANCE">FRANCE</option>
          <option value="FRENCH GUYANA">FRENCH GUYANA</option>
          <option value="FRENCH POLYNESIA">FRENCH POLYNESIA</option>
          <option value="GABON">GABON</option>
          <option value="GALAPAGOS I. (ECUADOR">GALAPAGOS I. (ECUADOR</option>
          <option value="GAMBIA">GAMBIA</option>
          <option value="GEORGIA">GEORGIA</option>
          <option value="GERMANY">GERMANY</option>
          <option value="GHANA">GHANA</option>
          <option value="GIBRALTAR">GIBRALTAR</option>
          <option value="GREECE">GREECE</option>
          <option value="GREENLAND">GREENLAND</option>
          <option value="GRENADA">GRENADA</option>
          <option value="GUATEMALA">GUATEMALA</option>
          <option value="GUERNSEY ISLD.">GUERNSEY ISLD.</option>
          <option value="GUINEA">GUINEA</option>
          <option value="GUINEA BISSAU">GUINEA BISSAU</option>
          <option value="GUYANA">GUYANA</option>
          <option value="HAITI">HAITI</option>
          <option value="HONDURAS">HONDURAS</option>
          <option value="HONG KONG">HONG KONG</option>
          <option value="HUNGARY">HUNGARY</option>
          <option value="ICELAND">ICELAND</option>
          <option value="INDIA">INDIA</option>
          <option value="INDONESIA">INDONESIA</option>
          <option value="IRAN">IRAN</option>
          <option value="IRAQ">IRAQ</option>
          <option value="IRELAND">IRELAND</option>
          <option value="ISRAEL">ISRAEL</option>
          <option value="ITALY">ITALY</option>
          <option value="IVORY COAST">IVORY COAST</option>
          <option value="JAMAICA">JAMAICA</option>
          <option value="JAPAN">JAPAN</option>
          <option value="JOHNSTON ATOLL">JOHNSTON ATOLL</option>
          <option value="JORDAN">JORDAN</option>
          <option value="KAZAKHSTAN">KAZAKHSTAN</option>
          <option value="KENYA">KENYA</option>
          <option value="KIRIBATI">KIRIBATI</option>
          <option value="KOREA">KOREA</option>
          <option value="KUWAIT">KUWAIT</option>
          <option value="LAOS">LAOS</option>
          <option value="LEBANON">LEBANON</option>
          <option value="LEEWARD ISLANDS">LEEWARD ISLANDS</option>
          <option value="LESOTHO">LESOTHO</option>
          <option value="LIBERIA">LIBERIA</option>
          <option value="LIBYA">LIBYA</option>
          <option value="LUXEMBURG">LUXEMBURG</option>
          <option value="MACAU">MACAU</option>
          <option value="MADAGASCAR">MADAGASCAR</option>
          <option value="MADEIRA">MADEIRA</option>
          <option value="MALAWI">MALAWI</option>
          <option value="MALAYSIA">MALAYSIA</option>
          <option value="MALDIVES">MALDIVES</option>
          <option value="MALI">MALI</option>
          <option value="MALTA">MALTA</option>
          <option value="MARIANA ISLANDS">MARIANA ISLANDS</option>
          <option value="MARSHALL ISLANDS">MARSHALL ISLANDS</option>
          <option value="MAURITANIA">MAURITANIA</option>
          <option value="MAURITIUS">MAURITIUS</option>
          <option value="MAYOTTE ISLAND">MAYOTTE ISLAND</option>
          <option value="MEXICO">MEXICO</option>
          <option value="MICRONESIA">MICRONESIA</option>
          <option value="MIDWAY ISLAND">MIDWAY ISLAND</option>
          <option value="MOLDOVA">MOLDOVA</option>
          <option value="MONGOLIA">MONGOLIA</option>
          <option value="MONTSERRAT ISLAND">MONTSERRAT ISLAND</option>
          <option value="MOROCCO">MOROCCO</option>
          <option value="MOZAMBIQUE">MOZAMBIQUE</option>
          <option value="MYANMAR">MYANMAR</option>
          <option value="NEPAL">NEPAL</option>
          <option value="NETHERLANDS">NETHERLANDS</option>
          <option value="NEW CALEDONIA">NEW CALEDONIA</option>
          <option value="NEW ZEALAND">NEW ZEALAND</option>
          <option value="NICARAGUA">NICARAGUA</option>
          <option value="NIGER">NIGER</option>
          <option value="NIGERIA">NIGERIA</option>
          <option value="NORTH IRELAND">NORTH IRELAND</option>
          <option value="NORWAY">NORWAY</option>
          <option value="OMAN">OMAN</option>
          <option value="PAKISTAN">PAKISTAN</option>
          <option value="PALAU ISLAND">PALAU ISLAND</option>
          <option value="PANAMA">PANAMA</option>
          <option value="PAPUA NEW GUINEA">PAPUA NEW GUINEA</option>
          <option value="PARAGUAY">PARAGUAY</option>
          <option value="PERU">PERU</option>
          <option value="PHILIPPINES">PHILIPPINES</option>
          <option value="PHOENIX ISL.">PHOENIX ISL.</option>
          <option value="POLAND">POLAND</option>
          <option value="PORTUGAL">PORTUGAL</option>
          <option value="PUERTO RICO">PUERTO RICO</option>
          <option value="QATAR">QATAR</option>
          <option value="REUNION ISLAND">REUNION ISLAND</option>
          <option value="ROMANIA">ROMANIA</option>
          <option value="RUSSIA">RUSSIA</option>
          <option value="RWANDA">RWANDA</option>
          <option value="SAMOA">SAMOA</option>
          <option value="SAO TOME & PRINCIPE">SAO TOME & PRINCIPE</option>
          <option value="SAUDI ARABIA">SAUDI ARABIA</option>
          <option value="SCOTLAND">SCOTLAND</option>
          <option value="SENEGAL">SENEGAL</option>
          <option value="SEYCHELLES">SEYCHELLES</option>
          <option value="SIERRA LEONE">SIERRA LEONE</option>
          <option value="SINGAPORE">SINGAPORE</option>
          <option value="SLOVAKIA">SLOVAKIA</option>
          <option value="SLOVENIA">SLOVENIA</option>
          <option value="SOMALIA">SOMALIA</option>
          <option value="SOUTH AFRICA">SOUTH AFRICA</option>
          <option value="SPAIN">SPAIN</option>
          <option value="SPANISH NORTH AFRICA">SPANISH NORTH AFRICA</option>
          <option value="SRI LANKA">SRI LANKA</option>
          <option value="ST. KITTS & NEVIS">ST. KITTS & NEVIS</option>
          <option value="ST. LUCIA ISLAND">ST. LUCIA ISLAND</option>
          <option value="ST. PIERRE & MIQUELON">ST. PIERRE & MIQUELON</option>
          <option value="ST.VINCENT/GRENADINES">ST.VINCENT/GRENADINES</option>
          <option value="SUDAN">SUDAN</option>
          <option value="SURINAM">SURINAM</option>
          <option value="SWAZILAND">SWAZILAND</option>
          <option value="SWEDEN">SWEDEN</option>
          <option value="SWITZERLAND">SWITZERLAND</option>
          <option value="SYRIA">SYRIA</option>
          <option value="TAIWAN">TAIWAN</option>
          <option value="TANZANIA">TANZANIA</option>
          <option value="THAILAND">THAILAND</option>
          <option value="TOGO">TOGO</option>
          <option value="TONGA">TONGA</option>
          <option value="TRINIDAD & TOBAGO">TRINIDAD & TOBAGO</option>
          <option value="TUAMOTU ISLANDS">TUAMOTU ISLANDS</option>
          <option value="TUNISIA">TUNISIA</option>
          <option value="TURKEY">TURKEY</option>
          <option value="TURKS & CAICOS I.">TURKS & CAICOS I.</option>
          <option value="TUVALU ISLAND">TUVALU ISLAND</option>
          <option value="UGANDA">UGANDA</option>
          <option value="U.K">U.K</option>
          <option value="U.K.">U.K.</option>
          <option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>

          <option value="USA">USA</option>
          <option value="USA (FLORIDA)">USA (FLORIDA)</option>
          <option value="USA HAWAII ISL.">USA HAWAII ISL.</option>
          <option value="USA KAUAI ISL.">USA KAUAI ISL.</option>
          <option value="USA LANAI ISL.">USA LANAI ISL.</option>
          <option value="USA MAUI ISL.">USA MAUI ISL.</option>
          <option value="USA MOLOKAI ISL.">USA MOLOKAI ISL.</option>
          <option value="USA OAHU ISL.">USA OAHU ISL.</option>
          <option value="UZBEKISTAN">UZBEKISTAN</option>
          <option value="VANUATU">VANUATU</option>

          <option value="VIET NAM">VIET NAM</option>
          <option value="VIRGIN ISL.">VIRGIN ISL.</option>
          <option value="WALES">WALES</option>
          <option value="WALLIS & FUTUNA">WALLIS & FUTUNA</option>
          <option value="WEST TIMOR">WEST TIMOR</option>
          <option value="YUGOSLAVIA">YUGOSLAVIA</option>
          <option value="ZAIRE">ZAIRE</option>
          <option value="ZAMBIA">ZAMBIA</option>
          <option value="ZIMBABWE">ZIMBABWE</option>
        </select>
      </li>
      <li>
        <button mat-raised-button (click)="reloadBR(this.country)">
          Atualizar
        </button>
      </li>
    </ul>
    <!-- <button mat-raised-button disabled>Dis</button> -->
  </div>
  @defer {
    <router-outlet />
  } @loading {
    Módulo em carregamento, aguarde...
  } @placeholder {
    <h2>Carregando módulo , aguarde...</h2>
  }
  <div class="footer">
    <small>Developed by Eng.Dev.Adhemar Jr</small>
  </div>
</section>
