*{box-sizing: border-box;}

html,
body {
    height: auto;
}

html {

    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

body {
display: flex;
justify-content: center;
 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.17rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: .83rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: .67rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;


}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

table {
    width: 580px;
    // display: grid;
    // flex-direction: column;
    // justify-content: center;
}

@media screen and (max-width: 580px) {
    table {
        width: 100%;
    }
    html{
        display: grid;
        align-items: left;
        justify-content: left;
    
    }

    body {
        display: grid;
        align-items: left;
        justify-content: left;
    }

    section {
     display: grid;
    }

}
